In [3]:
! dir

 Volume in drive C has no label.
 Volume Serial Number is 9CB9-E181

 Directory of C:\Mod5-Statistics\datas

10/16/2023  11:49 AM    <DIR>          .
10/16/2023  11:49 AM    <DIR>          ..
10/16/2023  10:57 AM    <DIR>          .ipynb_checkpoints
08/21/2023  08:30 PM           322,026 airlines.csv
08/22/2023  09:08 AM               361 anagrams.csv
08/22/2023  09:09 AM               556 anscombe.csv
10/15/2023  12:31 PM    <DIR>          archive (10)
10/15/2023  12:33 PM    <DIR>          archive (13)
10/15/2023  12:28 PM    <DIR>          archive (2)
10/15/2023  12:30 PM    <DIR>          archive (3)
10/15/2023  12:30 PM    <DIR>          archive (4)
10/15/2023  12:30 PM    <DIR>          archive (5)
10/15/2023  12:30 PM    <DIR>          archive (6)
10/15/2023  12:30 PM    <DIR>          archive (7)
10/15/2023  12:30 PM    <DIR>          archive (8)
10/15/2023  12:30 PM    <DIR>          archive (9)
10/16/2023  09:24 AM           189,768 assignment impp.ipynb
08/22/2023  09:09 AM             1,198 attention.csv
10/16/2023  10:53 AM           677,819 Billionaires Statistics Dataset.csv.xls
08/22/2023  09:12 AM         1,075,911 brain_networks.csv
10/15/2023  12:24 PM    <DIR>          census-master
08/17/2023  10:58 AM               111 csv_mindex.csv
10/16/2023  11:49 AM            84,969 D Billionaries.ipynb
10/16/2023  11:10 AM            25,679 D GlobalWeather.ipynb
10/15/2023  12:25 PM       313,090,048 database.sqlite
08/17/2023  10:58 AM                59 demo1.csv
08/17/2023  10:58 AM            10,545 demo1.xlsx
08/17/2023  10:58 AM                43 demo2.csv
08/17/2023  10:58 AM               169 demo3.csv
08/17/2023  10:58 AM               170 demo3.txt
08/17/2023  10:58 AM               169 demo4.csv
08/17/2023  10:58 AM                78 demo5.csv
08/17/2023  10:58 AM           626,863 demo6.csv
08/17/2023  10:58 AM                36 demo7.csv
08/17/2023  09:04 PM            23,171 demofigsave.png
08/17/2023  10:58 AM             6,189 demo_file.xlsx
08/21/2023  08:15 PM         3,192,560 diamonds.csv
08/22/2023  09:18 AM            36,960 ds_salaries.csv
08/17/2023  10:58 AM           281,823 fdic_failed_bank_list.html
08/17/2023  10:58 AM             2,681 final.csv
10/16/2023  10:53 AM         2,435,302 GlobalWeatherRepository.csv.xls
08/03/2023  10:48 AM             5,107 Iris.csv.xls
08/17/2023  10:58 AM               880 mango_pickle
08/17/2023  10:58 AM            11,520 mydata.h5
08/17/2023  10:58 AM                88 out.csv
08/17/2023  10:58 AM             6,136 out2.csv
08/17/2023  10:58 AM             6,136 out3.csv
08/17/2023  10:58 AM             6,136 out5.csv
08/17/2023  10:58 AM                58 out6.csv
08/17/2023  10:58 AM             6,136 out7.csv
08/17/2023  10:58 AM            32,948 output.csv
10/15/2023  12:15 PM       380,031,486 Seattle_Police_Department_911_Incident_Response.csv
08/19/2023  07:22 PM               589 SELF NOTE 1.ipynb
09/24/2023  08:28 PM            49,237 SELFNOTE- MATPLOTLIB.ipynb
08/17/2023  10:58 AM           400,602 stock_px.csv
08/17/2023  10:58 AM       196,592,730 survey_results_public.csv
08/17/2023  10:58 AM             9,857 survey_results_schema.csv
08/17/2023  10:58 AM            32,948 survived.csv
08/17/2023  10:58 AM               942 tasty_pickle
08/17/2023  10:58 AM               118 test.tsv
08/17/2023  10:58 AM                40 test_file.csv
08/17/2023  10:58 AM            32,948 titan.csv
08/03/2023  10:48 AM            61,194 Titanic-Dataset.xls
08/17/2023  10:58 AM               102 tseries.csv
10/12/2023  11:20 AM            11,857 Untitled.ipynb
10/15/2023  12:18 PM                72 Untitled1.ipynb
10/15/2023  12:18 PM                72 Untitled2.ipynb
10/15/2023  12:18 PM                72 Untitled3.ipynb
10/15/2023  12:41 PM             6,031 Untitled4.ipynb
              55 File(s)    899,391,306 bytes
              14 Dir(s)  63,107,842,048 bytes free

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
Bdata = pd.read_csv("Billionaires Statistics Dataset.csv.xls",index_col="rank")
Bdata

,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,organization,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
rank,,,,,,,,,,,,,,,,,,,,,
1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,LVMH MoÃ«t Hennessy Louis Vuitton,...,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,6.705989e+07,46.227638,2.213749
2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,Tesla,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,Amazon,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,Oracle,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,Berkshire Hathaway Inc. (Cl A),...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2540,1000,Healthcare,Yu Rong,51.0,China,Shanghai,Health clinics,Healthcare,China,NaN,...,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2540,1000,Food & Beverage,"Richard Yuengling, Jr.",80.0,United States,Pottsville,Beer,Food & Beverage,United States,NaN,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
2540,1000,Manufacturing,Zhang Gongyun,60.0,China,Gaomi,Tyre manufacturing machinery,Manufacturing,China,NaN,...,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2540,1000,Real Estate,Zhang Guiping & family,71.0,China,Nanjing,Real estate,Real Estate,China,NaN,...,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2540,1000,Diversified,Inigo Zobel,66.0,Philippines,Makati,Diversified,Diversified,Philippines,NaN,...,2.5,"$376,795,508,680",35.5,107.5,71.1,14.0,43.1,1.081166e+08,12.879721,121.774017

In [4]:
Bdata.columns

Index(['finalWorth', 'category', 'personName', 'age', 'country', 'city',
       'source', 'industries', 'countryOfCitizenship', 'organization',
       'selfMade', 'status', 'gender', 'birthDate', 'lastName', 'firstName',
       'title', 'date', 'state', 'residenceStateRegion', 'birthYear',
       'birthMonth', 'birthDay', 'cpi_country', 'cpi_change_country',
       'gdp_country', 'gross_tertiary_education_enrollment',
       'gross_primary_education_enrollment_country', 'life_expectancy_country',
       'tax_revenue_country_country', 'total_tax_rate_country',
       'population_country', 'latitude_country', 'longitude_country'],
      dtype='object')

In [5]:
Bdata.shape

(2640, 34)

In [6]:
Bdata.size

89760

In [12]:
Bdata.isnull().sum()

finalWorth                                       0
category                                         0
personName                                       0
age                                              0
country                                         38
city                                            72
source                                           0
industries                                       0
countryOfCitizenship                             0
organization                                  2315
selfMade                                         0
status                                           0
gender                                           0
birthDate                                       76
lastName                                         0
firstName                                        3
title                                         2301
date                                             0
state                                         1887
residenceStateRegion                          1893
birthYear                                       76
birthMonth                                      76
birthDay                                        76
cpi_country                                    184
cpi_change_country                             184
gdp_country                                    164
gross_tertiary_education_enrollment            182
gross_primary_education_enrollment_country     181
life_expectancy_country                        182
tax_revenue_country_country                    183
total_tax_rate_country                         182
population_country                             164
latitude_country                               164
longitude_country                              164
dtype: int64

In [11]:
Bdata["age"].fillna(Bdata["age"].mode()[0],inplace=True)

In [7]:
Bdata.groupby("country")

In [9]:
Bdata["country"].value_counts()

United States           754
China                   523
India                   157
Germany                 102
United Kingdom           82
                       ...
Portugal                  1
Georgia                   1
Eswatini (Swaziland)      1
Uzbekistan                1
Armenia                   1
Name: country, Length: 78, dtype: int64

In [12]:
ctgry_grp = Bdata.groupby("category")

In [13]:
Bdata["country"].value_counts()

United States           754
China                   523
India                   157
Germany                 102
United Kingdom           82
                       ...
Portugal                  1
Georgia                   1
Eswatini (Swaziland)      1
Uzbekistan                1
Armenia                   1
Name: country, Length: 78, dtype: int64

In [14]:
Bdata["city"].value_counts()

New York       99
Beijing        68
Hong Kong      68
Shanghai       64
London         61
               ..
KÃ¼snacht        1
Brownsville     1
Montpellier     1
Santa Clara     1
Makati          1
Name: city, Length: 741, dtype: int64

In [15]:
Bdata["category"].unique()

array(['Fashion & Retail', 'Automotive', 'Technology',
       'Finance & Investments', 'Media & Entertainment', 'Telecom',
       'Diversified', 'Food & Beverage', 'Logistics',
       'Gambling & Casinos', 'Manufacturing', 'Real Estate',
       'Metals & Mining', 'Energy', 'Healthcare', 'Service',
       'Construction & Engineering', 'Sports'], dtype=object)

In [16]:
Bdata["category"].value_counts()

Finance & Investments         372
Manufacturing                 324
Technology                    314
Fashion & Retail              266
Food & Beverage               212
Healthcare                    201
Real Estate                   193
Diversified                   187
Energy                        100
Media & Entertainment          91
Metals & Mining                74
Automotive                     73
Service                        53
Construction & Engineering     45
Logistics                      40
Sports                         39
Telecom                        31
Gambling & Casinos             25
Name: category, dtype: int64

In [17]:
fashion_df = pd.DataFrame(ctgry_grp.get_group("Fashion & Retail"))
fashion_df

,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,organization,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
rank,,,,,,,,,,,,,,,,,,,,,
1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,LVMH MoÃ«t Hennessy Louis Vuitton,...,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,6.705989e+07,46.227638,2.213749
11,80500,Fashion & Retail,Francoise Bettencourt Meyers & family,69.0,France,Paris,L'OrÃ©al,Fashion & Retail,France,NaN,...,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,6.705989e+07,46.227638,2.213749
13,77300,Fashion & Retail,Amancio Ortega,87.0,Spain,La Coruna,Zara,Fashion & Retail,Spain,NaN,...,0.7,"$1,394,116,310,769",88.9,102.7,83.3,14.2,47.0,4.707678e+07,40.463667,-3.749220
19,58800,Fashion & Retail,Jim Walton,74.0,United States,Bentonville,Walmart,Fashion & Retail,United States,"Arvest Bank Group, Inc.",...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
20,57600,Fashion & Retail,Rob Walton & family,78.0,United States,Bentonville,Walmart,Fashion & Retail,United States,Walmart,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2540,1000,Fashion & Retail,Johan Johannson,56.0,Norway,Oslo,Grocery stores,Fashion & Retail,Norway,NaN,...,2.2,"$403,336,363,636",82.0,100.3,82.8,23.9,36.2,5.347896e+06,60.472024,8.468946
2540,1000,Fashion & Retail,Kim Jung-woong,48.0,South Korea,Seoul,Cosmetics,Fashion & Retail,South Korea,NaN,...,0.4,"$2,029,000,000,000",94.3,98.1,82.6,15.6,33.2,5.170910e+07,35.907757,127.766922
2540,1000,Fashion & Retail,Liu Baolin,69.0,China,Wuhan,Pharmacies,Fashion & Retail,China,NaN,...,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2540,1000,Fashion & Retail,RÃ©al Plourde,NaN,Canada,Westmount,Convenience stores,Fashion & Retail,Canada,NaN,...,1.9,"$1,736,425,629,520",68.9,100.9,81.9,12.8,24.5,3.699198e+07,56.130366,-106.346771
2540,1000,Fashion & Retail,Xie Bingzheng & family,54.0,China,Guangzhou,Apparel,Fashion & Retail,China,NaN,...,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397

In [18]:
fashion_df.nunique()

finalWorth                                     82
category                                        1
personName                                    266
age                                            64
country                                        37
city                                          151
source                                         98
industries                                      1
countryOfCitizenship                           36
organization                                   29
selfMade                                        2
status                                          6
gender                                          2
birthDate                                     243
lastName                                      204
firstName                                     234
title                                          18
date                                            1
state                                          23
residenceStateRegion                            4
birthYear                                      65
birthMonth                                     12
birthDay                                       31
cpi_country                                    31
cpi_change_country                             26
gdp_country                                    32
gross_tertiary_education_enrollment            31
gross_primary_education_enrollment_country     29
life_expectancy_country                        30
tax_revenue_country_country                    29
total_tax_rate_country                         31
population_country                             32
latitude_country                               32
longitude_country                              32
dtype: int64

In [19]:
finance_df = pd.DataFrame(ctgry_grp.get_group("Finance & Investments"))
finance_df

,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,organization,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
rank,,,,,,,,,,,,,,,,,,,,,
5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,Berkshire Hathaway Inc. (Cl A),...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
35,35000,Finance & Investments,Ken Griffin,54.0,United States,Miami,Hedge funds,Finance & Investments,United States,Citadel LLC,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
48,28500,Finance & Investments,Jeff Yass,64.0,United States,Haverford,"Trading, investments",Finance & Investments,United States,NaN,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
49,28100,Finance & Investments,Jim Simons,84.0,United States,East Setauket,Hedge funds,Finance & Investments,United States,Renaissance Technologies Corp.,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
50,27800,Finance & Investments,Stephen Schwarzman,76.0,United States,New York,Investments,Finance & Investments,United States,Blackstone Group,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2540,1000,Finance & Investments,Lev Kvetnoi,57.0,Russia,Moscow,Cement,Finance & Investments,Russia,NaN,...,4.5,"$1,699,876,578,871",81.9,102.6,72.7,11.4,46.2,144373535.0,61.524010,105.318756
2540,1000,Finance & Investments,Michiel Le Roux,73.0,South Africa,Stellenbosch,Banking,Finance & Investments,South Africa,NaN,...,4.1,"$351,431,649,241",22.4,100.9,63.9,27.5,29.2,58558270.0,-30.559482,22.937506
2540,1000,Finance & Investments,Stanley Motta,77.0,NaN,NaN,Finance,Finance & Investments,Panama,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2540,1000,Finance & Investments,Sergei Sudarikov,51.0,Russia,Moscow,"Finance, development",Finance & Investments,Russia,NaN,...,4.5,"$1,699,876,578,871",81.9,102.6,72.7,11.4,46.2,144373535.0,61.524010,105.318756
2540,1000,Finance & Investments,V. Prem Watsa,72.0,Canada,Toronto,"Insurance, investments",Finance & Investments,Canada,NaN,...,1.9,"$1,736,425,629,520",68.9,100.9,81.9,12.8,24.5,36991981.0,56.130366,-106.346771

In [58]:
Bdata[Bdata.loc[:,:]].max()

ValueError: Boolean array expected for the condition, not int64

In [21]:
finalWorth = Bdata["finalWorth"].var()
print("Variance of finalWorth",finalWorth)

Variance of finalWorth 96712294.85457094

In [22]:
total_tax_rate_country = Bdata["total_tax_rate_country"].var()
print("Variance of total_tax_rate_country",total_tax_rate_country)

Variance of total_tax_rate_country 147.50820810371462